# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Eclipse Project Files
.autotools
.cproject
.project

# Autotools output files
autom4te.cache
config.h.in
configure
